@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: IBM Plex Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	@apply text-slate-800 text-base bg-slate-50;
}

a {
	color: inherit;
	text-decoration: none;
	@apply text-slate-600
	font-bold
	underline
	hover:underline
	decoration-slate-400
	hover:decoration-black
	decoration-1
	underline-offset-2
	hover:text-indigo-900;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

p {
	@apply mb-2
		max-w-3xl
		text-slate-600;

	&:last-child {
		@apply mb-0;
	}
}

label {
	@apply cursor-pointer
	text-base;
}

blockquote {
	@apply mb-5;
}

textarea {
	@apply outline-none;
}

.hero-subheading a {
	@apply cursor-pointer
		/* text-accent */
		/* no-underline */
		/* underline */
		/* underline-offset-4 */
		/* decoration-dotted */
		/* transition-all */
		/* hover:text-accent-hover */
		underline
		decoration-indigo-200
		hover:decoration-black
		decoration-2
		underline-offset-4
		text-indigo-800
		hover:text-black
		font-black
		hover:underline;
}

b {
	@apply font-bold;
}

strong {
	@apply text-slate-600 font-bold;
}

h1 {
	@apply mb-4
		text-4xl font-bold text-indigo-600;
}

h2 {
	@apply mb-2
		text-3xl font-bold;
}

h3 {
	@apply mb-2
		text-2xl font-bold;
}

h4 {
	@apply mb-2
		text-sm
		font-bold
		uppercase
		tracking-wide;
}
